body{
    padding: 0;
    margin: 0;
}
.containerId{
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-dynamic-webapps/greeting-card-1-bg.png");
     background-size: cover;
  height: 100vh;
  
}

.paraFormClass{
    padding: 0;
    margin: 0;
   

}
.paraToClass{
    padding: 0;
    margin: 0;
   
}
.subConId{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}